.obsidian/app.json
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/appearance.json
.obsidian/hotkeys.json
.obsidian/cache
.obsidian/plugins/*/data.json
.trash/.obsidian/plugins/
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/plugins/remotely-save/
.obsidian/plugins/
