.obsidian/app.json
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/appearance.json
.obsidian/hotkeys.json
.obsidian/cache
.obsidian/plugins/*/data.json
.trash/.obsidian/plugins/
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/plugins/remotely-save/
.obsidian/plugins/

# 个人隐私内容
日常随笔与灵感/书籍灵感/
日常随笔与灵感/想法与记录/
日常规划与调整/
草稿/
